{
  "extends": [
    "react-app",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "prettier", "@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "@typescript-eslint/indent": ["error", 2],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "react/no-unused-prop-types": "off",
    "object-curly-newline": "off",
    "no-unused-expressions": ["error", {
      "allowTaggedTemplates": true
    }],
    "camelcase": "off",
    "spaced-comment": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  }
}